---
apiVersion: v1
kind: Secret
metadata:
  namespace: slack-ircbridge
  name: registry-pull-secret
type: kubernetes.io/dockercfg
data:
  .dockercfg: VALUE_HERE
---
apiVersion: v1
kind: Secret
metadata:
  namespace: slack-ircbridge
  name: slack
type: Opaque
data:
  token: VALUE_HERE
